
.intro {
  background: url('@site/static/logo/yjs.png') no-repeat center/14rem;
  height: 28rem;
  min-height: 32vh;
  position: relative;
}

.namePicker {
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  left: 0;
}


@media (max-aspect-ratio: 1/1), (orientation: portrait), (max-width: 1024px) {
  .namePicker {
    top: calc(50% - 15rem);
    left: 2rem;
    right: 2rem;
  }
}

@media (max-width: 440px) and (min-height: 600px) {
  .namePicker {
    top: calc(50% - 18rem);
    left: 1rem;
  }
}

@media (min-aspect-ratio: 1/1) and (orientation: landscape) and (max-width: 1024px) {
  .namePicker {
    top: 50%;
    left: 1rem;
    background-color: #ffffff33;
  }
}

.namePicker input {
  background-color: #fff0;
  font-size: 2rem;
  padding-left: .2rem;
  border: none;
  border-bottom: .1rem solid var(--user-color);
  outline: none;
  width: 11.7rem;
}

.cursors {
  position: relative;
}

.cursors > div {
  position: absolute;
  top: 0;
  left: 0;
  margin: -.4rem;
  padding: .4rem;
  border-radius: 50%;
  border: .05rem solid var(--background-color);
  /* transition: transform 60ms; */
}

.colorpicker {
  width: 1rem;
  height: 1rem;
  background-color: var(--user-color);
  border-radius: 50%;
  display: inline-block;
}
